/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
body {
  background: #F5F5F5;
}

/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
.base-action__tasks {
  display: flex;
  min-height: 30px;
  padding: 5px;
  background: #FFFFFF;
  border-bottom: #E6E6E6 1px inset;
}
.base-action__tasks:hover {
  background: snow;
}
.base-action__tasks .base-action__delete-task:focus, .base-action__tasks:hover .base-action__delete-task {
  background-image: url(image/close.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.base-action__delete-task {
  width: 35px;
  height: 35px;
  border: none;
  background: #FFFFFF;
}

/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
input[type=checkbox] {
  position: absolute;
  left: -99999px;
}
input:checked + .input-task:before {
  width: 36px;
  height: 36px;
  border: solid #5DC2AF 1px;
  border-radius: 50%;
  background-image: url(image/checkbox_checked.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
input:checked + .input-task + .input-task__text {
  color: #CCCCCC;
  text-decoration: line-through;
}

.input-task:before {
  content: " ";
  display: inline-block;
  margin-right: 10px;
  margin-top: 2px;
  position: relative;
  width: 36px;
  height: 36px;
  vertical-align: middle;
  border: solid transparent 1px;
  border-radius: 50%;
  background-image: url(image/checkbox.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.input-task__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 21px;
  word-break: break-word;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-task__checkbox:focus + .input-task:before {
  border: solid #4D90FE 1px;
  border-radius: 50%;
}

/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
.main-action__select-all {
  width: 45px;
  height: 50px;
  text-align: center;
  border: none;
  background-image: url(image/down_pointer.svg);
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
}

.main-action__entry-text {
  position: absolute;
  font-family: Roboto, sans-serif;
  height: 47px;
  width: 88%;
  padding-right: 7px;
  padding-left: 7px;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  line-height: 15px;
  color: #CCCCCC;
  border: 0;
}

/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
.main-content {
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main-content__entry-section {
  height: 50px;
  background: #FFFFFF;
  border-bottom: #E6E6E6 1px inset;
}

.main-content__conclusion-bar {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  white-space: nowrap;
  background: #FFFFFF;
}

/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
.main-wrapper {
  position: relative;
  margin: 0 auto;
  width: 80%;
  min-width: 480px;
  max-width: 580px;
}
.main-wrapper:before {
  content: " ";
  position: absolute;
  top: 100%;
  height: 6px;
  left: 2px;
  right: 2px;
  z-index: -1;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.main-wrapper:after {
  content: " ";
  position: absolute;
  top: 100%;
  height: 12px;
  left: 4px;
  right: 4px;
  z-index: -2;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
.options-bar__items__clear-completed,
.options-bar__items {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: #888888;
}
.options-bar__items__clear-completed .option-element__input,
.options-bar__items .option-element__input {
  position: absolute;
  left: -99999px;
}

.options-bar__items__clear-completed {
  background: #FFFFFF;
  border: none;
}

.option-element__input:focus:checked + .option-element {
  border: solid #4D90FE 1px;
}

.option-element {
  padding-left: 5px;
  padding-right: 5px;
  border: solid transparent 1px;
}

input[type=radio]:checked + .option-element {
  border: solid #EBDFDF 1px;
}

/*colors*/
/*base colors properties*/
/*hover properties*/
/*borders properties*/
/*offset and height for extra layers*/
/*base properties for font*/
/*base properties for tittle*/
/*conclusion bar properties*/
/*variables for checkbox*/
.tittle-todos {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 100;
  color: #CCCCCC;
  word-break: break-word;
  line-height: 100px;
  margin-bottom: 0;
}

/*# sourceMappingURL=output.css.map */
